@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    background-color: #dcebfd;
    padding-bottom: 146/$px2vw;
    img {
        width: 100%;
        border: none;
    }
    .video-wrap{
        width: 750/$px2vw;
        height: 405/$px2vw;
        background: url(../image/201911004/02.png) no-repeat top center;
        background-size: 100%;
        padding-top: 10/$px2vw;
        overflow: hidden;
        .video{
            width: 648/$px2vw;
            height: 364/$px2vw;
            margin-left: 50/$px2vw;
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff9ef;
        left: 0;
        bottom: 0;
        text-align: center;
        padding: 10/$px2vw 0 90/$px2vw;
        img{
            width: auto;
            height: 116/$px2vw;
        }
    }
}