@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    background-color: #b7c8fe;
    img {
        width: 100%;
        border: none;
    }
    .btn_bg {
        height: 100/$px2vw;
    }
    .btn {
        position: fixed;
        width: 100%;
        background-color: rgba(255, 255, 255, .8);
        left: 0;
        bottom: 0;
        text-align: center;
        padding: 10/$px2vw 0;
        img{
            width: auto;
            height: 94/$px2vw;
        }
    }
}