@import "component/base.scss";
@import "component/mixin.scss";

.J_pageWraper {
    font-size: 0;
    background: #ffdc57;
    img {
        width: 100%;
        border: none;
    }
    .bookList {
        font-size: 0;
        width: 100%;
        padding-bottom: 50/$px2rem;
        background: url('../image/201906002/05.jpg') center center no-repeat;
        background-size: 100%;
        .books {
            width: 100%;
            font-size: 0;
            text-align: center;
            .book {
                display: inline-block;
                vertical-align: top;
                width: 25%;
                margin-bottom: 30/$px2rem;
                overflow: hidden;
                text-align: left;
                &:nth-of-type(3n+2) {
                    margin: 0 5% 0/$px2rem;
                }

                .cover {
                    position: relative;
                    width: 100%;
                    padding-top: 131%;
                    margin: 0 auto 10/$px2rem;
                    background-size: 100% 100%;
                    border-radius: 6/$px2rem;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                .name {
                    width: 100%;
                    height: 70/$px2rem;
                    line-height: 35/$px2rem;
                    margin: 0 auto 8/$px2rem;
                    font-size: 28/$px2rem;
                    color: #111111;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .author {
                    width: 100%;
                    height: 30/$px2rem;
                    line-height: 30/$px2rem;
                    margin: 0 auto 20/$px2rem;
                    font-size: 22/$px2rem;
                    color: #111111;
                    opacity: 0.6;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}