@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    background-color: #030000;
    padding-bottom: 175/$px2vw;
    img {
        width: 100%;
        border: none;
    }
    .btn {
        position: fixed;
        width: 100%;
        height: 175/$px2vw;
        box-sizing: border-box;
        background-color: rgba(171, 214, 247, .8);
        left: 0;
        bottom: 0;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
}