@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    background-color: #252641;
    img {
        width: 100%;
        border: none;
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        background-color: rgba(254, 248, 249, .75);
        left: 0;
        bottom: 0;
        text-align: center;
        padding: 13/$px2vw 0;
        img{
            width: auto;
            height: 100/$px2vw;
        }
    }
}