@import "component/base.scss";
@import "component/mixin.scss";

.J_pageWraper {
    font-size: 0;
    padding-bottom: 20vw;
    background-color: #ffe3cd;
    img {
        width: 100%;
        border: none;
    }
   
    .fixed {
        position: fixed;
        width: 100%;
        height: 20vw;
        left: 0;
        bottom: 0;
    }
}