@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    background-color: #e2feff;
    img {
        width: 100%;
        border: none;
    }
    .btn {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 5/$px2vw 0;
        background: url(../image/201910006/09.png) no-repeat center;
        background-size: 100%;
        text-align: center;
        img{
            width: 448/$px2vw;
            height: 166/$px2vw;
        }
    }
}