@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    img {
        width: 100%;
        border: none;
        margin-bottom: -1px;
    }
    .book {
        position: relative;
        height: 936/$px2vw;
        width: 100%;
        background-image: url(../image/202006003/img_02.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            position: absolute;
            right: 100/$px2vw;
            top: 230/$px2vw;
            width: 150/$px2vw;
            height: 60/$px2vw;
        }
    }
    .book2{
        position: relative;
        box-sizing: border-box;
        height: 450/$px2vw;
        width: 100%;
        padding-top: 110/$px2vw;
        background-image: url(../image/202006003/img_05.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            position: absolute;
            right: 50/$px2vw;
            top:230/$px2vw;
            display: inline-block;
            width: 120/$px2vw;
            height: 40/$px2vw;
            margin-left: 25/$px2vw;
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        background-color: rgba(221, 174, 242, .8);
        background-size: 100% 100%;
        text-align: center;
        padding: 8/$px2vw 0 0;
        z-index: 999;
        img{
            width: auto;
            height: 124/$px2vw;
        }
    }
    .c-toast span {
        height: 0.28rem !important;
    }
}