@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    img {
        width: 100%;
        border: none;
        margin-bottom: -1px;
    }
    .book {
        position: relative;
        height: 586/$px2vw;
        width: 100%;
        background-image: url(../image/202006011/img_02.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            position: absolute;
            right: 50/$px2vw;
            top: 175/$px2vw;
            width: 150/$px2vw;
            height: 60/$px2vw;
        }
    }
    .book2{
        box-sizing: border-box;
        position: relative;
        height: 840/$px2vw;
        width: 100%;
        padding-top: 110/$px2vw;
        background-image: url(../image/202006011/img_05.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            position: absolute;
            display: inline-block;
            right: 50/$px2vw;
            top:170/$px2vw;
            width: 130/$px2vw;
            height: 50/$px2vw;
            margin-left: 50/$px2vw;
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        background-color: rgba(253, 216, 254, .8);
        background-size: 100% 100%;
        text-align: center;
        padding: 10/$px2vw 0;
        z-index: 999;
        img{
            width: auto;
            height: 90/$px2vw;
        }
    }
    .c-toast span {
        height: 0.28rem !important;
    }
}