@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
body{
    background-color: rgba(234, 240, 237, .8);
}
.J_pageWraper {
    font-size: 0;
    img {
        width: 100%;
        border: none;
    }
    .wrapper {
        position: relative;
        width: 100%;
        height: 697/$px2vw;
        background-image: url(../image/202003006/img_05.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        div {
            position: absolute;
            width: 220/$px2vw;
            height: 352/$px2vw;
            &:nth-child(1) {
                left: 42/$px2vw;
                top: 144/$px2vw;
            }
            &:nth-child(2) {
                left: 262/$px2vw;
                top: 144/$px2vw;
            }
            &:nth-child(3) {
                left: 482/$px2vw;
                top: 144/$px2vw;
            }
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        background-color: rgba(207, 233, 228, .8);
        text-align: center;
        padding: 46/$px2vw 0;
        img{
            width: auto;
            height: 108/$px2vw;
        }
    }
}