@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    img {
        width: 100%;
        border: none;
        margin-bottom: -1px;
    }
    .book {
        position: relative;
        height: 703/$px2vw;
        width: 100%;
        background-image: url(../image/202007010/img_02.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            position: absolute;
            right: 70/$px2vw;
            top: 280/$px2vw;
            width: 200/$px2vw;
            height: 65/$px2vw;
        }
    }
    .book2{
        box-sizing: border-box;
        height: 720/$px2vw;
        width: 100%;
        padding-top: 160/$px2vw;
        padding-left: 60/$px2vw;
        background-image: url(../image/202007010/img_05.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            display: inline-block;
            width: 195/$px2vw;
            height: 320/$px2vw;
            margin-right: 20/$px2vw;
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 241, 238, .7);
        background-size: 100% 100%;
        text-align: center;
        padding: 17/$px2vw 0 17/$px2vw;
        z-index: 999;
        img{
            width: auto;
            height: 116/$px2vw;
        }
    }
    .c-toast span {
        height: 0.28rem !important;
    }
}