@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.c-toast span {
    height: 0.28rem !important;
}
.J_pageWraper {
    font-size: 0;
    background-color: #a3cdff;
    img {
        width: 100%;
        border: none;
        margin-bottom: -1px;
    }
    .book {
        position: relative;
        height: 345/$px2vw;
        width: 100%;
        background-image: url(../image/20200827/img_02.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            position: absolute;
            right: 45/$px2vw;
            top: 70/$px2vw;
            width: 150/$px2vw;
            height: 65/$px2vw;
        }
    }
    .book2{
        box-sizing: border-box;
        height: 642/$px2vw;
        width: 100%;
        padding-left: 30/$px2vw;
        background-image: url(../image/20200827/img_06.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            display: inline-block;
            width: 216/$px2vw;
            height: 72%;
            margin-right: 17/$px2vw;
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        background-color: rgba(133, 189, 255, .8);
        background-size: 100% 100%;
        text-align: center;
        padding: 20/$px2vw 0 0;
        z-index: 999;
        img{
            width: auto;
            height: 109/$px2vw;
        }
    }

}