@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    img {
        width: 100%;
        border: none;
        margin-bottom: -1px;
    }

    .c-toast span {
        height: 0.28rem !important;
    }
}