@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
body{
    background-color: rgba(234, 240, 237, .8);
}
.J_pageWraper {
    font-size: 0;
    img {
        width: 100%;
        border: none;
    }
    .book {
        position: relative;
        height: 630/$px2vw;
        width: 100%;
        background-image: url(../image/202004026/img_02.png);
        background-size: 100% 100%;
        span {
            position: absolute;
            left: 558/$px2vw;
            top: 206/$px2vw;
            width: 136/$px2vw;
            height: 56/$px2vw;
        }
    }
    .bookList {
        position: relative;
        height: 636/$px2vw;
        width: 100%;
        background-image: url(../image/202004026/img_04.png);
        background-size: 100% 100%;
        div {
            position: absolute;
            height: 346/$px2vw;
            width: 204/$px2vw;
            &:nth-of-type(1) {
                left: 40/$px2vw;
                top: 138/$px2vw;
            }
            &:nth-of-type(2) {
                left: 272/$px2vw;
                top: 138/$px2vw;
            }
            &:nth-of-type(3) {  
                left: 504/$px2vw;
                top: 138/$px2vw;
            }
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        background-image: url(../image/202004026/img_05.png);
        background-size: 100% 100%;
        text-align: center;
        padding: 13/$px2vw 0;
        img{
            width: auto;
            height: 84/$px2vw;
        }
    }
}
.c-toast span {
    height: 0.28rem !important;
}