@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    img {
        width: 100%;
        border: none;
        margin-bottom: -1px;
    }
    .book {
        position: relative;
        height: 804/$px2vw;
        width: 100%;
        background-image: url(../image/202006012/img_02.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            position: absolute;
            right: 90/$px2vw;
            top: 210/$px2vw;
            width: 150/$px2vw;
            height: 60/$px2vw;
        }
    }
    .book2{
        box-sizing: border-box;
        height: 632/$px2vw;
        width: 100%;
        padding-top: 10/$px2vw;
        background-image: url(../image/202006012/img_05.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            display: inline-block;
            right: 50/$px2vw;
            top:50/$px2vw;
            width: 215/$px2vw;
            height: 450/$px2vw;
            margin-left: 25/$px2vw;
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 221, 221, .75);
        background-size: 100% 100%;
        text-align: center;
        padding: 18/$px2vw 0 10/$px2vw;
        z-index: 999;
        img{
            width: auto;
            height: 110/$px2vw;
        }
    }
    .c-toast span {
        height: 0.28rem !important;
    }
}