@import "component/base.scss";
@import "component/mixin.scss";

$px2vw:7.5/1vw;
.J_pageWraper {
    font-size: 0;
    img {
        width: 100%;
        border: none;
        margin-bottom: -1px;
    }
    .book {
        position: relative;
        height: 758/$px2vw;
        width: 100%;
        background-image: url(../image/202005002/img_02.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        span {
            position: absolute;
            left: 524/$px2vw;
            top: 218/$px2vw;
            width: 170/$px2vw;
            height: 56/$px2vw;
        }
    }
    .comments {
        position: relative;
        height: 289/$px2vw;
        width: 100%;
        background-image: url(../image/202005002/img_05.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        font-size: 26/$px2vw;
        color: #8a8989;
        line-height: 34/$px2vw;
        .inner {
            position: absolute;
            top: 120/$px2vw;
            left: 88/$px2vw;
            right: 88/$px2vw;
            bottom: 48/$px2vw;
            .swiper-container {
                width: 100%;
                height: 100%;
                .swiper-pagination {
                    text-align: right;
                    span {
                        width: 14/$px2vw;
                        height: 14/$px2vw;
                        background: #a0a0a0;
                        margin-left: 10/$px2vw;
                    }
                    .swiper-pagination-bullet-active {
                        background: #f1ae9b;
                    }
                }
            }
        }
    }
    .bookList {
        position: relative;
        height: 554/$px2vw;
        width: 100%;
        background-image: url(../image/202005002/img_04.png);
        background-size: 100% 100%;
        margin-bottom: -1px;
        div {
            position: absolute;
            height: 300/$px2vw;
            width: 174/$px2vw;
            &:nth-of-type(1) {
                left: 60/$px2vw;
                top: 36/$px2vw;
            }
            &:nth-of-type(2) {
                left: 290/$px2vw;
                top: 36/$px2vw;
            }
            &:nth-of-type(3) {  
                left: 518/$px2vw;
                top: 36/$px2vw;
            }
        }
    }
    .btn {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        background-color: #413956;
        background-size: 100% 100%;
        text-align: center;
        padding: 35/$px2vw 0;
        z-index: 999;
        img{
            width: auto;
            height: 96/$px2vw;
        }
    }
}
.c-toast span {
    height: 0.28rem !important;
}